<style>
span.mepi_1, span.mepi_2 {
font-size: 28px;
font-weight: bold;
}

span.mepi_1 {font-size: 28px;}
span.mepi_2 {font-size: 14px;}



</style>

<div class="row  <%= I18n.locale.to_s %>">
  <div class="col-sm-6">

    <span style="font-size: 20px">ACPRS Documentation Systesm</span>

  </div>


  <div class="col-sm-6">
    <div class="col-sm-6">



</div>



  </div>



  </div>

<nav class="navbar navbar-default  <%= I18n.locale.to_s %>">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav  <%= I18n.locale.to_s %>">

            <li><%= link_to requests_path  do %>Home<% end %></li>
        <% if current_user.role == 1 %>
        <li><%= link_to publish_path  do %>Publish<% end %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Document <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "ACPRS Staff User's Guide", staffguide_path %></li>
            <li><%= link_to "ACPRS Implementer's Guide", granteeguide_path %></li>
            <li><%= link_to "ACPRS Adimistrator's Guide", adminguide_path %></li>

          </ul>
<% end %>
        <li><%= link_to requests_path  do %>ACPRS Change Requests<% end %></li>
        <li><%= link_to requestdash_path  do %>Dashboard<% end %></li>

      </ul>






      <ul class="nav navbar-nav navbar-right">


        <% if current_user.role == 1 %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'All Users', users_path %></li>

            <li><a href="#">Another action</a></li>
            </ul>
        </li>
            <% end %>

        <% if user_signed_in? %>
            <li><span style="color: #fff">Signed in as: <strong><%= current_user.email %></strong></span></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%= render 'layouts/navigation_links' %>



          </ul>
        </li>
            <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>